<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href= "@{/css/users/login.css}">
    <title>Login page</title>
</head>
<body>
<div class="all-container">
    <h2>Iniciar Sesion:</h2>
    <form action="#" th:action="@{/users/index}"  th:object="${user}" method="post" class="frm-registrarse">
        <p>
            <label>Email:</label>
            
            <input types ="email" th:field ="*{email}"/>
        </p>
        <p>
            <label>Contraseña:</label>
            
            <input types ="password" th:field ="*{password}"/>
        </p>
        <p>
            <input type="submit" id="submit" name="submit" value="Login" class="btn">
        </p>
    </form>
</div>
</body>
</html>