<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href= "@{/css/users/new.css}">
    
    <title>Registrar usuario</title>
</head>
<body>
    <div class="all-container">
        <h2>Nuevo Usuario:</h2>
        <form action="#" th:action="@{/users}"  th:object="${user}" method="post" class="frm-registrarse">
         
            <p>
               <label>Email:</label>
            
                <input type="email" placeholder="Ingrese su mail" th:field ="*{email}"/>
            </p>
            <p>
                <label>Contraseña:</label>
            
                <input type="password" autocomplete="off" placeholder="Ingrese su contraseña" th:field="*{password}"/>
            </p>
            <p>
                <input type="submit" name="submit" value="Registrarse" class="btn">
            </p>
         
        </form>
           
    </div>
</body>
</html>