<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Disponibilidad de habitaciones</title>
</head>
<body>
<div class="all-container">

    <form action="#" th:action="@{/bookings/availability}" th:object="${roomAvailability}" method="post">
        <label>Check In : </label>
        <input type="text" th:field="*{checkIn}"/>
        <label>Check Out : </label>
        <input type="text" th:field="*{checkOut}"/>
        <label>Occupancy : </label>
        <input type="text" th:field="*{occupancy}"/>
        <button type="submit" name="availability">Check Availability</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Room</th>

            <th>Occupancy</th>

            <th>Facility</th>

            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${rooms.empty}">
            <td colspan="2"> No Rooms Availability</td>
        </tr>
        <tr th:each="room : ${rooms}">
            <td><span th:text="${room.name}">Room</span></td>
            <td><span th:text="${room.occupancy}">Occupancy</span></td>
            <td><span th:text="${room.facilities}">Facilities</span></td>
            <td><span th:text="${room.price}">Price</span></td>
            <td>
                Book
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>