<!DOCTYPE html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
</head>

<body>

        <div id="cuerpo">
            <form id="form-login" action="" method="get" autocomplete="off">
                <!--A saber, el atributo for funciona como el id.-->
                <!--ejemplo <label for="usuario">Usuario:</label>-->
                <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                <p><label >Usuario:</label></p>
                <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus="" required=""></p>

                <p><label>Contraseña:</label></p>
                <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresa Password" required=""></p>

                <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
                <p id="bot"><input type="submit" id="submit" name="submit" value="Registrarse" class="boton"></p>

            </form>
        </div><!--fin cuerpo-->


</body>

</html>